.body {
    width: 100vw;
    height: 100vh;
    margin: 0;


    &__header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 10vh;

        &-title {
            font-size: 35px;
            font-family: 'Aladin', sans-serif;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        font-family: 'Aladin', sans-serif;

        &-welcome {
            align-self: center;
            width: 80vw;
            height: 30px;
            text-align: center;
            font-size: 18px;
            border: solid 1px black;
            border-radius: 20px;
        }

        &-title {
            width: 80vw;
            text-align: center;
            font-size: 30px;
        }

        &-rulesTitle {
            width: 90vw;
            text-align: center;
            font-size: 25px;
        }

        &-rulesContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 80vw;
            text-align: justify;
            font-size: 18px;
        }

        &-button {
            width: 100px;
            height: 40px;
            margin-top: 30px;
            font-family: 'Aladin', sans-serif;
            font-size: 20px;
            border: solid 1px black;
            border-radius: 20px;
            background-color: white;
        }
    }
}


.clue {
    border: solid 2px black;
}

.counter {
    border: solid 2px black;
}

.hidden {
    display: none;
}